h1  checkinChump!
section.css-table
  section.two-column
    section.cell
      h2 foursquare + You = (chump)<sup>2</sup>
      p let's see how much of a chump you are...

      ul
        li.feed
          img(src='http://distilleryimage5.instagram.com/6016f3da1fcc11e19e4a12313813ffc0_6.jpg')
        li.feed
          img(src='http://distilleryimage3.instagram.com/b51718ac1fd011e19896123138142014_6.jpg')
        li.feed
          img(src='http://distilleryimage1.instagram.com/e065baaa1fcf11e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage1.instagram.com/a758536a1fcc11e19e4a12313813ffc0_6.jpg')
        li.feed
          img(src='http://distilleryimage8.instagram.com/435e47201fd111e19896123138142014_6.jpg')
        li.feed
          img(src='http://distilleryimage1.instagram.com/df5bb79e1fcb11e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage11.instagram.com/92ba18be1fc511e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage6.instagram.com/15556b201fd011e1abb01231381b65e3_6.jpg')
        li.feed
          img(src='http://distillery.s3.amazonaws.com/media/2010/11/06/37569993641f4f6d9d11dcb911637dbb_6.jpg')
        li.feed
          img(src='http://creattica.com/uploaded-images/0017/5531/creattica-small_thumb.jpg')
        li.feed
          img(src='http://creattica.com/uploaded-images/0017/4478/gallinaposter320_thumb.jpg')
        li.feed
          img(src='http://distilleryimage0.instagram.com/d5660d1e1fd211e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage3.instagram.com/a53d8bdc1fd011e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage4.instagram.com/06898b061fc811e19e4a12313813ffc0_6.jpg')
        li.feed
          img(src='http://distilleryimage11.instagram.com/e822101c1fcb11e1a87612313804ec91_6.jpg')
        li.feed
          img(src='http://creattica.com/uploaded-images/0017/5237/creatica_thumb_thumb.jpg')
        li.feed
          img(src='http://distilleryimage7.instagram.com/878a0ec41fcd11e19896123138142014_6.jpg')
        li.feed
          img(src='http://distilleryimage9.instagram.com/101ed73a1fd111e19e4a12313813ffc0_6.jpg')
        li.feed
          img(src='http://distilleryimage5.instagram.com/6016f3da1fcc11e19e4a12313813ffc0_6.jpg')
        li.feed
          img(src='http://distilleryimage3.instagram.com/b51718ac1fd011e19896123138142014_6.jpg')
        li.feed
          img(src='http://distilleryimage1.instagram.com/e065baaa1fcf11e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage1.instagram.com/a758536a1fcc11e19e4a12313813ffc0_6.jpg')
        li.feed
          img(src='http://distilleryimage8.instagram.com/435e47201fd111e19896123138142014_6.jpg')
        li.feed
          img(src='http://distilleryimage1.instagram.com/df5bb79e1fcb11e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage11.instagram.com/92ba18be1fc511e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage6.instagram.com/15556b201fd011e1abb01231381b65e3_6.jpg')
        li.feed
          img(src='http://distillery.s3.amazonaws.com/media/2010/11/06/37569993641f4f6d9d11dcb911637dbb_6.jpg')
        li.feed
          img(src='http://creattica.com/uploaded-images/0017/5531/creattica-small_thumb.jpg')
        li.feed
          img(src='http://creattica.com/uploaded-images/0017/4478/gallinaposter320_thumb.jpg')
        li.feed
          img(src='http://distilleryimage0.instagram.com/d5660d1e1fd211e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage3.instagram.com/a53d8bdc1fd011e180c9123138016265_6.jpg')
        li.feed
          img(src='http://distilleryimage4.instagram.com/06898b061fc811e19e4a12313813ffc0_6.jpg')
        li.feed
          img(src='http://distilleryimage11.instagram.com/e822101c1fcb11e1a87612313804ec91_6.jpg')
        li.feed
          img(src='http://creattica.com/uploaded-images/0017/5237/creatica_thumb_thumb.jpg')
        li.feed
          img(src='http://distilleryimage7.instagram.com/878a0ec41fcd11e19896123138142014_6.jpg')
        li.feed
          img(src='http://distilleryimage9.instagram.com/101ed73a1fd111e19e4a12313813ffc0_6.jpg')
